target/
bin/
.idea/
.mvn/
mvnw
mvnw.cmd
*.iml

## VOLUMES
/postgres-email-filtering-service
/postgres-email-rest-client
/postgres-message-service
/elasticsearch
/filebeat/data
/filebeat/registry

## PIVATE FILES
credentials.json
data.sql
.env
.postgresql-env
twilio.properties
meta.json