input[type="text"],
input[type="date"],
select {
  background: white;
  border: none;
  border-bottom: 2px solid #5C6BC0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* style dla labeli */
label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  color: #2e7d32;
}

/* style dla przycisku */
input[type="submit"] {
  background: #2e7d32;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background: #2e7d32;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* style dla wiadomości błędu */
span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: red;
  margin-bottom: 10px;
}

/* styl dla całego formularza */
form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
}